.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author] | Power By Hexo.
    p#busuanzi_container_site_uv view <span id='busuanzi_value_site_uv'></span> times
   
